<div class="bg-[rgba(63,120,224)] text-white font-bold text-[.75rem] mb-2">
  <div class="container py-2 xl:flex lg:flex md:flex xl:flex-row lg:flex-row md:flex-row">
    <div class="flex flex-row items-center">
      <div class="icon text-white !text-[1.1rem] !mt-[.25rem] !mr-[.5rem]"> <i class="uil uil-location-pin-alt before:content-['\ebd8']"></i></div>
      <address class="mb-0 not-italic leading-[inherit] block">{{ if eq $.Site.Language.Lang "en" }}Annual Budget Meeting: October 26, 2024{{ else }}Réunion annuelle sur le budget: 26 octobre 2024{{ end }}</address>
    </div>
    <div class="flex flex-row items-center me-6 ms-auto">
    </div>
  </div>
  <!-- /.container -->
</div>