<div class="bg-[rgba(63,120,224)] text-white font-bold text-[.75rem] mb-2">
  <div class="container py-2 xl:flex lg:flex md:flex xl:flex-row lg:flex-row md:flex-row">
    <div class="flex flex-row items-center">
      <div class="icon text-white !text-[1.1rem] !mt-[.25rem] !mr-[.5rem]"> <i class="uil uil-location-pin-alt before:content-['\ebd8']"></i></div>
      <address class="mb-0 not-italic leading-[inherit] block">{{ if eq $.Site.Language.Lang "en" }}OBA AGM: May 3, 2025 - 9:30 at Bromley Road Baptist Church - <a href="https://docs.google.com/forms/d/e/1FAIpQLSecdC6c9e1Xbb8qCKC6vX8ZlCjmMB_xrFPS4dUd7z4TwG-1DQ/viewform">Registration Form</a>{{ else }}AGA de l'OBA : 3 mai 2025 - 9h30 à l'Église baptiste de Bromley Road - <a href="https://docs.google.com/forms/d/e/1FAIpQLSecdC6c9e1Xbb8qCKC6vX8ZlCjmMB_xrFPS4dUd7z4TwG-1DQ/viewform">Formulaire d'inscription</a>

{{ end }}</address>
    </div>
    <div class="flex flex-row items-center me-6 ms-auto">
    </div>
  </div>
  <!-- /.container -->
</div>
