<footer class="!bg-[#ffffff] ">
  <div class="container py-16 xl:!py-20 lg:!py-20 md:!py-20">
    <div class="flex flex-wrap mx-[-15px] mt-[-30px] xl:mt-0 lg:mt-0">
      <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
        <div class="widget">
          <img class="!mb-4" src="/img/logo.png" alt="image">
          <p class="!mb-4">© {{ dateFormat "2006" now }} {{ if eq $.Site.Language.Lang "en" }}Ottawa Baptist Association{{ else }}L'Association Baptiste D'Ottawa{{ end }}. <br class="hidden xl:block lg:block">{{ if eq $.Site.Language.Lang "en" }}All rights reserved{{ else }}Tous droits réservés{{ end }}.</p>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
        <div class="widget">
          <h4 class="widget-title !mb-3">{{ if eq $.Site.Language.Lang "en" }}Get in Touch{{ else }}Contactez-nous{{ end }}</h4>
          <address class="xl:pr-20 xxl:!pr-28 not-italic leading-[inherit] block mb-4">1718E Lamoureux Dr, Orleans, ON K1E 2N2</address>
          <a class="text-[#60697b] hover:text-[#60697b]" href="mailto:info@ottawabaptist.ca">info@ottawabaptist.ca</a><br> (613) 301-2300
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
        <div class="widget">
          <h4 class="widget-title !mb-3">{{ if eq $.Site.Language.Lang "en" }}Learn More{{ else }}En savoir plus{{ end }}</h4>
          <ul class="pl-0 list-none !mb-0">
            {{ range .Site.Menus.main }}
              <li class="nav-item">
                <li class="mt-[0.35rem]"><a class="text-[#60697b] hover:text-[#3f78e0]" href="{{ .URL }}">{{ .Name }}</a></li>
              </li>
            {{ end }}          
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <!-- newsletter -->
      <!-- /newsletter --> 
      <!-- /column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</footer>

<div class="progress-wrap fixed w-[2.3rem] h-[2.3rem] cursor-pointer block shadow-[inset_0_0_0_0.1rem_rgba(128,130,134,0.25)] z-[1010] opacity-0 invisible translate-y-3 transition-all duration-[0.2s] ease-[linear,margin-right] delay-[0s] rounded-[100%] right-6 bottom-6 motion-reduce:transition-none after:absolute after:content-['\e951'] after:text-center after:leading-[2.3rem] after:text-[1.2rem] after:text-[#3f78e0] after:h-[2.3rem] after:w-[2.3rem] after:cursor-pointer after:block after:z-[1] after:transition-all after:duration-[0.2s] after:ease-linear after:left-0 after:top-0 motion-reduce:after:transition-none after:font-Unicons">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path class="fill-none stroke-[#3f78e0] stroke-[4] box-border transition-all duration-[0.2s] ease-linear motion-reduce:transition-none" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
