<header class="relative wrapper !bg-[#ffffff] ">
  {{ /* partial "banner.html" . */}}
  <nav class="navbar navbar-expand-lg center-nav transparent navbar-light">
    <div class="container xl:flex-row lg:flex-row !flex-nowrap items-center">
      <div class="navbar-brand w-full">
        <a href="/">
          {{ if eq $.Site.Language.Lang "en" }}
            <img src="/img/logo-en.png" alt="Ottawa Baptist Association">
          {{ else }}
            <img src="/img/logo-fr.png" alt="L'Association Baptiste D'Ottawa">
          {{ end }}
        </a>
      </div>
      <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
        <div class="offcanvas-header xl:hidden lg:hidden flex items-center justify-between flex-row p-6">
          <h3 class="text-white xl:text-[1.5rem] !text-[calc(1.275rem_+_0.3vw)] !mb-0">{{ if eq $.Site.Language.Lang "en" }}Ottawa Baptist Association{{ else }}L'Association Baptiste D'Ottawa{{ end }}</h3>
          <button type="button" class="btn-close btn-close-white mr-[-0.75rem] m-0 p-0 leading-none text-[#343f52] transition-all duration-[0.2s] ease-in-out border-0 motion-reduce:transition-none before:text-[1.05rem] before:content-['\ed3b'] before:w-[1.8rem] before:h-[1.8rem] before:leading-[1.8rem] before:shadow-none before:transition-[background] before:duration-[0.2s] before:ease-in-out before:flex before:justify-center before:items-center before:m-0 before:p-0 before:rounded-[100%] hover:no-underline bg-inherit before:bg-[rgba(255,255,255,.08)] before:font-Unicons hover:before:bg-[rgba(0,0,0,.11)] focus:outline-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body xl:!ml-auto lg:!ml-auto flex  flex-col !h-full">
          <ul class="navbar-nav">
          {{ range .Site.Menus.main }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.offcanvas-body -->
      </div>
      <!-- /.navbar-collapse -->
      <div class="navbar-other w-full !flex !ml-auto">
        <ul class="navbar-nav !flex-row !items-center !ml-auto">
          <li class="nav-item dropdown language-select uppercase group">
            <a class="nav-link dropdown-item dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Site.Language.LanguageName }}</a>
            <ul class="dropdown-menu group-hover:shadow-[0_0.25rem_0.75rem_rgba(30,34,40,0.15)]">
              {{ range $.Translations }}
                <li class="nav-item"><a class="dropdown-item hover:text-[#3f78e0] hover:bg-[inherit] focus:text-[#3f78e0] focus:bg-[inherit]" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
              {{ end }}
            </ul>
          </li>
          <li class="nav-item xl:hidden lg:hidden">
            <button class="hamburger offcanvas-nav-btn"><span></span></button>
          </li>
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /.navbar-other -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->
</header>
<!-- /header -->